body {
  background: linear-gradient(to bottom, #141e30, #243b55);
  color: white;
  font-family: "Popins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  padding: 60px 20px;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.subtext {
  font-style: italic;
  font-size: 1.2rem;
  opacity: 0.8;
}

.witch-container {
  position: absolute;
  left: -100px;
  top: 20px;
}

#witch {
  width: 80px;
  animation: fly 3s ease-in-out forwards;
}

.content {
  padding: 40px;
  max-width: 600px;
  margin: auto;
}
button {
  background: #ff6b6b;
  color: white;
  padding: 12px 18px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3 ease, transformq 0.2 ease;
}
button:hover {
  background: #ff4757;
  transform: scale(1.1);
}

footer {
  margin-top: 40px;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  font-size: 0.9rem;
}
